In [1]:
import pandas as pd
import re
from bs4 import BeautifulSoup
import requests

In [2]:
URL_2003 ='https://en.wikipedia.org/wiki/2003_Rugby_World_Cup'
response_2003 = requests.get(URL_2003)
soup_2003 = BeautifulSoup(response_2003.text,'html.parser')
div_2003 = soup_2003.find('div', {'id':'mw-content-text'})
summary_2003 = div_2003.find_all('div',{'class':'vevent summary'})

In [3]:
events_2003 = []
for i in summary_2003:
    text = i.text
    events_2003.append(text)

In [4]:
events_clean_2003 = [e.replace('\n',' ').replace('\xa0', ' ').strip() for e in events_2003]
data_2003 = " ".join(events_clean_2003)

In [5]:
data_2003 = data_2003.replace('(a.e.t.)','')
data_2003 = data_2003.replace('-','–')

In [6]:
#datemethodregex
date_pattern = re.compile(r'\d{1,2}\s\w*\s2003')
dates = date_pattern.findall(data_2003)
date_list = []
for i in dates:
    date_list.append(i)

In [7]:
# #time
# time_pattern = re.compile(r'2003(\d{2}:\d{2})\s\D{3,4}/\D{3}')
# time = time_pattern.findall(data_2003)
# time_list = []
# for i in time:
#     time_list.append(i)

In [8]:
#team1
team1_pattern = re.compile(r'\s{4,6}(\D*|\D*\s\D*)\s{2,3}\d{1,3}–')
team1 = team1_pattern.findall(data_2003)
team1_list = []
for i in team1:
    team1_list.append(i)

In [9]:
#team2
team2_pattern = re.compile(r'[–]\d*\s{3,4}(\w*|\w*\s\w*)\s{3,7}\D{3}:')
team2 = team2_pattern.findall(data_2003)
team2_list = []
for i in team2:
    team2_list.append(i)

In [10]:
#score
score_pattern = re.compile(r'\d*[–]\d*')
scores = score_pattern.findall(data_2003)
scores_list = []
for i in scores:
    scores_list.append(i)

In [11]:
#points team 1
pt1_pattern = re.compile(r'\s{2,4}(\d*)[–]\d*\s{2,4}')
pt1 = pt1_pattern.findall(data_2003)
pt1_list = []
for i in pt1:
    pt1_list.append(i)
pt1_list = [ int(x) for x in pt1_list ]

#points team 2 
pt2_pattern = re.compile(r'\s{2,4}\d*[–](\d*)\s{2,4}')
pt2 = pt2_pattern.findall(data_2003)
pt2_list = []
for i in pt2:
    pt2_list.append(i)
pt2_list = [ int(x) for x in pt2_list ]

#total points
total_points_list =[]
for i,j in zip(pt1_list, pt2_list):
    k = i+j
    total_points_list.append(k)

In [12]:
#attendance
attendance_pattern = re.compile(r'Attendance:\s(\d*[,]\d*)')
attendance = attendance_pattern.findall(data_2003)
attendance_list = []
for i in attendance:
    attendance_list.append(i)

In [13]:
#referee
referee_pattern = re.compile(r'Referee:\s(\w*\s\w*)')
referee = referee_pattern.findall(data_2003)
referee_list = []
for i in referee:
    referee_list.append(i)

In [14]:
#referee nationality
ref_nationality_pattern = re.compile(r'[(](\D*\s\D*|\D*)[)]')
ref_nationality = ref_nationality_pattern.findall(data_2003)
referee_nationality_list = []
for i in ref_nationality:
    referee_nationality_list.append(i)

In [15]:
dico_2003 = {'Match Date':date_list,'Home Team': team1_list, 'Away Team' : team2_list, 'Score': scores_list, 'Points Home Team': pt1_list, 'Points Away Team' : pt2_list, 'Total Points': total_points_list, 'Attendance': attendance_list, 'Referee': referee_list, 'Referee Nationality': referee_nationality_list}
df_2003 = pd.DataFrame.from_dict(dico_2003, orient='index')
df_2003 = df_2003.transpose()
df_2003

,Match Date,Home Team,Away Team,Score,Points Home Team,Points Away Team,Total Points,Attendance,Referee,Referee Nationality
0,10 October 2003,Australia,Argentina,24–8,24,8,32,"81,350",Paul Honiss,New Zealand
1,11 October 2003,Ireland,Romania,45–17,45,17,62,"19,123",Jonathan Kaplan,South Africa
2,14 October 2003,Argentina,Namibia,67–14,67,14,81,"17,887",Nigel Williams,Wales
3,18 October 2003,Australia,Romania,90–8,90,8,98,"48,778",Pablo Deluca,Argentina
4,19 October 2003,Ireland,Namibia,64–7,64,7,71,"35,382",Andrew Cole,Australia
5,22 October 2003,Argentina,Romania,50–3,50,3,53,"33,673",Chris White,England
6,25 October 2003,Australia,Namibia,142–0,142,0,142,"28,196",Joël Jutge,France
7,26 October 2003,Argentina,Ireland,15–16,15,16,31,"30,203",André Watson,South Africa
8,30 October 2003,Namibia,Romania,7–37,7,37,44,"15,457",Peter Marshall,Australia
9,1 November 2003,Australia,Ireland,17–16,17,16,33,"54,206",Paddy O,New Zealand
10,11 October 2003,France,Fiji,61–18,61,18,79,"46,795",Alain Rolland,Ireland
11,12 October 2003,Scotland,Japan,32–11,32,11,43,"19,170",Stuart Dickinson,Australia
12,15 October 2003,Fiji,United States,19–18,19,18,37,"30,990",Joël Jutge,France
13,18 October 2003,France,Japan,51–29,51,29,80,"21,309",Alan Lewis,Ireland
14,20 October 2003,Scotland,United States,39–15,39,15,54,"46,796",Jonathan Kaplan,South Africa
15,23 October 2003,Fiji,Japan,41–13,41,13,54,"17,269",Nigel Williams,Wales
16,25 October 2003,France,Scotland,51–9,51,9,60,"78,974",David McHugh,Ireland
17,27 October 2003,Japan,United States,26–39,26,39,65,"19,653",Steve Walsh,New Zealand
18,31 October 2003,France,United States,41–14,41,14,55,"17,833",Paul Honiss,New Zealand
19,1 November 2003,Scotland,Fiji,22–20,22,20,42,"37,137",Tony Spreadbury,England
20,11 October 2003,South Africa,Uruguay,72–6,72,6,78,"16,906",Paddy O,New Zealand
21,12 October 2003,England,Georgia,84–6,84,6,90,"25,501",Pablo Deluca,Argentina
22,15 October 2003,Samoa,Uruguay,60–13,60,13,73,"22,020",David McHugh,Ireland
23,18 October 2003,South Africa,England,6–25,6,25,31,"38,834",Peter Marshall,Australia
24,19 October 2003,Georgia,Samoa,9–46,9,46,55,"21,507",Alain Rolland,Ireland
25,24 October 2003,South Africa,Georgia,46–19,46,19,65,"34,308",Stuart Dickinson,Australia
26,26 October 2003,England,Samoa,35–22,35,22,57,"50,647",Jonathan Kaplan,South Africa
27,28 October 2003,Georgia,Uruguay,12–24,12,24,36,"28,576",Kelvin Deaker,New Zealand
28,1 November 2003,South Africa,Samoa,60–10,60,10,70,"48,496",Chris White,England
29,2 November 2003,England,Uruguay,111–13,111,13,124,"46,233",Nigel Williams,Wales
30,11 October 2003,New Zealand,Italy,70–7,70,7,77,"41,715",Andrew Cole,Australia
31,12 October 2003,Wales,Canada,41–10,41,10,51,"24,874",Chris White,England
32,15 October 2003,Italy,Tonga,36–12,36,12,48,"18,967",Steve Walsh,New Zealand
33,17 October 2003,New Zealand,Canada,68–6,68,6,74,"38,899",Tony Spreadbury,England
34,19 October 2003,Wales,Tonga,27–20,27,20,47,"19,806",Paul Honiss,New Zealand
35,21 October 2003,Italy,Canada,19–14,19,14,33,"20,515",Paddy O,New Zealand
36,24 October 2003,New Zealand,Tonga,91–7,91,7,98,"47,588",Pablo Deluca,Argentina
37,25 October 2003,Italy,Wales,15–27,15,27,42,"22,641",Andrew Cole,Australia
38,29 October 2003,Canada,Tonga,24–7,24,7,31,"15,630",Alain Rolland,Ireland
39,2 November 2003,New Zealand,Wales,53–37,53,37,90,"80,012",André Watson,South Africa
40,8 November 2003,New Zealand,South Africa,29–9,29,9,38,"40,734",Tony Spreadbury,England
41,8 November 2003,Australia,Scotland,33–16,33,16,49,"45,412",Steve Walsh,New Zealand
42,9 November 2003,France,Ireland,43–21,43,21,64,"33,134",Jonathan Kaplan,South Africa
43,9 November 2003,England,Wales,28–17,28,17,45,"45,252",Alain Rolland,Ireland
44,15 November 2003,New Zealand,Australia,10–22,10,22,32,"82,444",Chris White,England
45,16 November 2003,France,England,7–24,7,24,31,"82,346",Paddy O,New Zealand
46,20 November 2003,New Zealand,France,40–13,40,13,53,"62,712",Chris White,England
47,22 November 2003,Australia,England,17–20,17,20,37,"82,957",André Watson,South Africa

In [17]:
# df_2003.to_csv(r'C:\Users\lacar\DQ Projects\Rugby DataVis' + '\\2003.csv', index=False)